<ng-container *ngIf="MotGhe.DaDat == false; then GheChuaDat else GheDaDat"></ng-container>
<ng-template #GheChuaDat>
	<button 
		class="mot-ghe btn" 
		#BtnDatVe
		[ngClass]="TrangThaiGhe ? 'DangDat' : ''"
		(click)="DatGhe(MotGhe)"
		[ngx-scroll-to]="'#divDanhSachGhe'" 
		[ngx-scroll-to-duration]="1000"
		[ngx-scroll-to-easing]="'easeOutCubic'"
		>
		{{ MotGhe.TenGhe }}
	</button>
</ng-template>
<ng-template #GheDaDat>
	<button class="mot-ghe btn DaDat"
			matTooltip="Ghế Đã Được Đặt!!">
		{{ MotGhe.TenGhe }}
	</button>
</ng-template>

