<div class="container danhSachPhimContent mx-auto">
    <div class="row">
        <div class="col-12 text-center">
            <div class="linkContent d-flex justify-content-between my-5">
                <div class="d-flex">
                    <a href="#" class="linkHeading" [ngClass]="{'active' : listShow === 'phimDangChieu'}" #DSPhimDangChieu data-show="phimDangChieu"
                        (click)="showContent(DSPhimDangChieu)">
                        <span>Phim Đang Chiếu
                        <i>{{ slMovieDangChieu }}</i>
                        </span>
                    </a>
                    <a href="#" class="linkHeading" [ngClass]="{'active' : listShow === 'phimSapChieu'}" #DSPhimSapChieu (click)="showContent(DSPhimSapChieu)"
                        data-show="phimSapChieu">
                        <span>Phim Sắp Chiếu</span>
                    </a>
                </div>
                <!-- <ng-container *ngIf="listShow === 'phimDangChieu'">
                    <div class="d-flex align-items-center divEntry">
                        <h5>Show Entries:</h5>
                        <select [(ngModel)]="entryMovie" #selectEntry class="selecEntry linkHeading mx-4" (change)="showEntries(selectEntry.value)">
                            <option value="{{ entry.value }}" *ngFor="let entry of entryList">{{ entry.view }}</option>
                        </select>
                    </div>
                </ng-container> -->
            </div>

        </div>
    </div>

    <ng-container *ngIf="listShow == 'phimDangChieu'; then DanhSachPhimDangChieu else DanhSachPhimSapChieu "></ng-container>
    <ng-template #DanhSachPhimDangChieu>
        <app-phim-dang-chieu></app-phim-dang-chieu>
    </ng-template>
    <ng-template #DanhSachPhimSapChieu>
        <app-phim-sap-chieu></app-phim-sap-chieu>
    </ng-template>
</div>

