<form #SignUpForm="ngForm" class="container formDangNhap formAuth" (ngSubmit)="DangNhap(SignUpForm.value)">
  <div class="row">
    <div class="col-12 text-center title-form">
      <h3>Đăng Nhập</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-8 mx-auto">
              <div class="form-group">
                <input 
                  placeholder="Tài Khoản"
                  type="text" 
                  name="UserName"  
                  #UserName="ngModel" 
                  class="form-control form-marvel"
                  ngModel>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-8 mx-auto">
              <div class="form-group">
                <input 
                  placeholder="Mật Khẩu"
                  type="password" 
                  name="Password"  
                  #Password="ngModel" 
                  class="form-control form-marvel"
                  ngModel>
              </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-3">
              <div class="form-group">
                <select name="GroupID" #GroupID="ngModel" ngModel>
                  <option *ngFor="let group of Groups" [value]="group.Id">
                    {{ group.Name }}
                  </option>
                </select>
              </div>
          </div>
        </div>
      </div>
    </div>

    


    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-8 mx-auto">
              <button class="btn btn-success btn-block rounded-0 py-2 btnDangNhap btnLogin linkHeading" type="submit">
                <span>
                    <i class="fa fa-sign-in mr-2"></i>
                    Đăng Nhập
                </span>
              </button>
          </div>
        </div>
      </div>
    </div>


    <div class="col-12 text-center">
      <span class="Or">Hoặc Bạn Có Thể Đăng Nhập Bằng...</span>
    </div>

    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-8 mx-auto d-flex">
              <button class="btn btn-primary btn-block rounded-0 py-2 linkHeading btnLogin w-50 btnDNFacebook">
                <span>
                    <i class="fa fa-facebook mr-2"></i>
                    Facebook
                </span>
              </button>

              <button class="btn btn-danger btn-block rounded-0 py-2 linkHeading btnLogin w-50 btnDNGoogle">
                <span>
                    <i class="fa fa-google-plus mr-2"></i>
                    Google
                </span>
              </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 d-flex justify-content-center align-items-center mt-3 divOr">
      <span class="Or">Bạn Chưa Có Tài Khoản?</span>
      <span>
        <button class="btn linkHeading" data-dismiss="modal" [routerLink]="['/dang-ky']">Đăng Ký</button>
      </span>
    </div>
  </div>
</form>







