@import "./../../../assets/scss/helpers/_variables";
@import "./../../../assets/scss/helpers/_mixin";
@import "./../../../assets/scss/base/_reset";
@import "./../../../assets/scss/base/_typography";
@import "./../../../assets/scss/component/_heading";
@import "./../../../assets/scss/component/_form";


.divOr{
    button{
        transform: skew(0);
        padding: 7px;
        font-size: 11px;                
    }
}