@import "./../../../assets/scss/helpers/_variables";
@import "./../../../assets/scss/helpers/_mixin";
@import "./../../../assets/scss/base/_reset";
@import "./../../../assets/scss/base/_typography";
@import "./../../../assets/scss/component/_heading";
@import "./../../../assets/scss/component/_headingSection";

.rowPhimDangChieu{
    position: relative;
    .showEntries{
        @include posi-top-right(absolute, -96px, 0);
    }
}

.OneBlockMovie{
    position: relative;
    cursor: pointer;
    height: 400px;
    width: 95%;
    margin: 0 auto 40px;
    transition: .2s all;
    &:hover{
        box-shadow: 3px 1px 5px 2px #0000004d;
        .OneBlockMovie__overlay{
            background: rgba(0,0,0,.4);
        }
        .btnTrailer{
            opacity: 1;
            visibility: visible;
            transform:translate(-50%, -50%) scale(1);
        }
    }
    &__thumbnail{
        @include size(100%, 100%);
        img{
            min-width: 100%;
            height: 100%;
        }
    }
    &__overlay{
        @include size(100%, 100%);
        @include posi-top-left(absolute, 0,0);
        transition: .3s all;
        z-index: 1;
        background: linear-gradient(to bottom, #fff0, 60%, #000000b8);
    }
    
    .star{
        @include posi-top-right(absolute, 10px, 10px);
        padding: 3px 10px;
        background: #ff482bcf;
        color: #eee;
        z-index: 5;
        border-radius: 8px;
        .fa{
            font-size: 8px;
            position: relative;
            top: -9px;
        }
        &.danhGia{
            background: #05666bcf;
            .imdb{
                font-size: 10px;
                position: relative;
                top: -9px;
            }
        }
        
    }
    &__content{
        @include size(100%, 100%);
        @include posi-top-left(absolute, 0,0);
        @include flex(flex-end, flex-start, column, wrap);
        padding: 12px;
        z-index: 2;
        .header{
            @include flex(space-between, center, row, wrap);
            width: 100%;
            .realeseDate h5{
                font-size: 12px;
                color: #fff;
            }
            
        }
        .btnTrailer{
            @include flex(center, center, row, wrap);
            @include size(50px, 50px);
            @include posi-top-left(absolute, 50%, 50%);
            transform: translate(-50%, -50%) scale(0);
            border-radius: 50%;
            border: none;
            transition: .3s all;
            opacity: 0;
            visibility: hidden;
            z-index: 6;
            cursor: pointer;
            outline: 0;
        }
        .data{
            &__text{
                @include flex(flex-end, flex-start, column, nowrap);
                color: #fff;
                .author h5{
                    font-family: monts-reg;
                    font-size: 12px;
                    margin: 10px 0;
                }
                .detail{
                    margin-bottom: 30px;
                    h2{
                        font-family: monts-reg;
                        font-size: 23px;
                    }
                    p{
                        font-family: lato-reg;
                        font-size: 14px;
                    }
                } 
            }
        
        }
    }
    .btnLink{
        @include posi-top-left(absolute, calc(100% - calc(40px / 2)), 50%);
        width: 80%;
        text-align: center; 
        z-index:  4;
        transform: translateX(-50%);
        .btnDetail{
            border-radius: 0;
            height: 50px;
        }
    }
}




.my-pagination /deep/ {
    @include flex(center, center, row, wrap);
    width: 100%;
    margin-top: 30px;
    .ngx-pagination {
        display: flex;
        li{
            @include size(30px, 30px);
            @include flex(center, center, row, wrap);
            border: 2px solid #fff;
            margin: 0 5px;
            text-indent: 0!important;
            transform: skew(-25deg);
            background: #000;
            color: #fff;
            transition: .1s all;
            &:hover{
                a{
                    text-decoration: none;
                }
                span{
                    color: #000;
                }
            }
            span{
                font-family: trade-bold;
                transform: skew(25deg);
                color: #fff;
            }
            &.current{
                background: #fff;
                transform: translateY(-15px) skew(-25deg);
                span{
                    color: #000;
                }
            }
            &.pagination-previous, &.pagination-next{
                width: 120px;   
                overflow: hidden;
                a{
                    width: 100%;
                    color: #fff;
                    text-align:center;  
                }
                &:hover{
                    a{
                        color: #000;
                    }
                }
            }
            &.disabled{
                &:hover{
                    span{
                        color: #fff;
                    }
                }
            }
        }
    }
    
}
.divEntry{
    select{
        transform: skew(0deg);
        option{
            color: #fff;
            background: #000;
            font-weight: bold;
        }
    }
    h5{
        font-size:20px;
        font-family: trade-bold;
        color:#fff;
    }
}

