#modalTrailer{
    .modal-content{
        background: #000;
    }
    .close{
        @include size(40px, 40px);
        @include posi-top-right(absolute, 10px,10px);
        background: #fff;
        color:#000;
        font-size: 12px;
        border-radius: 50%;
    }   
}