<header class="main-menu">
  <div class="container main-menu__content">
    <a [routerLink]="['/']" class="main-menu__logo content-left">
      <img src="../../../assets/images/cyber.png" alt="">
    </a>
    <a href="#" #burgerIcon (click)="showSideBar(burgerIcon)" class="burger-icon border-0">
      <div class="burger"></div>
    </a>
    <div class="content-right" #sideBar>
      <div class="logo-res">
          <a [routerLink]="['/']">
            <img src="../../../assets/images/cyber.png" alt="">
          </a>
      </div>
        
      <div class="social-auth">
        <ul class="social">
          <li><a href="#" class="fa fa-facebook-square"></a></li>
          <li><a href="#" class="fa fa-globe"></a></li>
          <li><a href="#" class="fa fa-youtube-square"></a></li>
        </ul>
        <div class="auth">
          <a href="#" [routerLink]="['/dang-ky']">Đăng Ký</a>
          <a href="#" data-toggle="modal" data-target="#modalDangNhap">Đăng Nhập</a>
        </div>
      </div>
      <ul class="nav">
        <li>
          <a href="#" 
            [ngx-scroll-to]="'#DSPhim'" 
            [ngx-scroll-to-duration]="1000"
            [ngx-scroll-to-easing]="'easeOutCubic'">
            <span>Phim</span> 
          </a>
        </li>
        <li>
          <a href="#"
            [ngx-scroll-to]="'#divLichChieu'" 
            [ngx-scroll-to-duration]="1000"
            [ngx-scroll-to-easing]="'easeOutCubic'">
            <span> Lịch Chiếu</span>
          </a>
          </li>
        <li>
          <a href="#"
            [ngx-scroll-to]="'#News'" 
            [ngx-scroll-to-duration]="1000"
            [ngx-scroll-to-easing]="'easeOutCubic'">
            <span>Tin Tức</span>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#modalTimKiem">
            <span>Search</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<div class="modal fade" id="modalDangNhap" tabindex="-1" role="dialog">
  <div class="modal-dialog mx-auto" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-dang-nhap></app-dang-nhap>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalTimKiem" tabindex="-1" role="dialog">
  <div class="modal-dialog mx-auto" role="document">
    <div class="modal-content" style="background: transparent">
      <div class="modal-body">
          <app-tim-kiem-phim></app-tim-kiem-phim>
      </div>
    </div>
  </div>
</div>



