<header class="main-menu">
  <div class="container main-menu__content">
    <a href="#" class="main-menu__logo content-left">
      <img src="../../../assets/images/cyber.png" alt="">
    </a>
    <div class="content-right">
      <div class="social-auth">
        <ul class="social">
          <li><a href="#" class="fa fa-facebook-square"></a></li>
          <li><a href="#" class="fa fa-globe"></a></li>
          <li><a href="#" class="fa fa-youtube-square"></a></li>
        </ul>
        <div class="auth">
          <a href="#">Register</a>
          <a href="#">Sign Up</a>
        </div>
      </div>
      <ul class="nav">
        <li><a href="#">Lich Chieu</a></li>
        <li><a href="#">Cum Rap</a></li>
        <li><a href="#">Video</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#" class="fa fa-search"></a></li>
      </ul>
    </div>
  </div>
</header>